body {
  background: rgb(225, 235, 235);
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 5;
  box-sizing: border-box;
  background: rgb(102, 189, 226);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 2px 4px rgba(190, 201, 212, 0.15);
  gap: 12px;
}

header #input {
  width: 100%;
  height: 48px;
  font-size: 15px;
  font-weight: 500;
  text-indent: 20px;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.395);
  border-radius: 30px;
  border: none;
  outline: none;
}

header #button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  background: rgba(255, 255, 255, 0.35);
  color: rgb(0, 0, 0);
}

.container {
  padding: 95px 15px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}


ul.todo {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.todo li {
  width: 100%;
  min-height: 50px;
  font-size: 15px;
  border-radius: 15px;
  line-height: 20px;
  background-color: rgb(192, 229, 244);
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
  padding: 14px;
  margin: 10px 0;
  cursor: pointer;
  user-select: none;
}




